<!DOCTYPE html>
<html lang="en">
<head>
  <title>Pokemon!</title>
  <div id="login_box">
    <% if current_user %>
    <%= link_to("Profile", user_url(current_user.id)) %> |
    <%= link_to("Log Out", login_path(current_user.id), :method => :delete) %>
    <% else %>
  
    <!-- <a href="#"><%= link_to("Sign Up", :new_user) %></a> |  -->
    <%= link_to("Log In", :new_login) %>
  
    <% end %>
  </div>
</head>
<body>
  <div id="signup">
      <div id="hp_form">
        <% if !current_user %>
          <%= render :partial => "signup" %>
        <% else %>
          <p><%= current_user.username %>,<%= link_to("see your teams >", user_url(current_user.id)) %></p>
        <% end %>
      </div> 
  </div>
  <% if current_user %>
  <h1>Pokmon</h1>
  <%= render :partial => "form" %>
  <ul class="result" id="result">
  </ul>
  <% end %>
</body>
</html>