<!DOCTYPE html>
<html>
<head>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <title>Pokemon!</title>
  <div id="top_color_bar"></div>
  <div id="navbar" class="clearfix">
    <div id="header">
      <%= link_to "", :root, :id => "header"%> 
    </div>
    <div id="login_box">
      <% if current_user %>
    
      <div id="profile_manage">
        <%= link_to("Profile", user_url(current_user.id)) %> |
        <%= link_to("Log Out", login_path(current_user.id), :method => :delete) %>
      </div>
      
      <% else %>
      <%= link_to("Log In", :new_login) %>
  
      <% end %>
    </div>
  </div>
</head>
<body>

  <%= yield %>

</body>
</html>
